@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.nav-link{
  @apply relative after:absolute after:bottom-[-150%] after:bg-[hsl(26,100%,55%)] duration-300 after:transition-transform after:scale-x-0 after:h-1 after:w-full after:left-0 hover:after:scale-x-[1] hover:after:bg-[hsl(26,100%,55%)]
}


